body {
    background-color:  #31572C;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);
    transform: translate(-50%, -50%);
}

main {
    text-align: center;
    
}



main > section > div {
    width: 6vw;
    height: 10vh;
    
}

section {
    float: left;
    
}

div > img {
    width: 4vw;
    height: 9vh;
    
}

main > section:nth-child(odd) > div:nth-child(even) {
    background: radial-gradient(#FDFCFB,#E2D1C3);
    
}
main > section:nth-child(even) > div:nth-child(odd) {
    background: radial-gradient(#FDFCFB,#E2D1C3);
}
main > section:nth-child(odd) > div:nth-child(odd) {
    background: radial-gradient(#434343, #000000);
}
main > section:nth-child(even) > div:nth-child(even) {
    background: radial-gradient(#434343, #000000);
}

.flip-card-back {
    transition: transform 0.6s;
    width: 6vw;
    height: 10vh;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    /*transform-style: preserve-3d;*/
}
.flip-card:hover .flip-card-back {
    transform: rotateY(180deg);
    background-color:#A4161A;
    
}
.flip-card {
    perspective: 150px;
    position: contain;
    
}
.flip-card-front {
    
    backface-visibility: hidden;
}

div:first-child  {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

main > section > div:nth-child(even) {
    color: #FFBE0B;
    font-size: 60px;
    font-family: 'Concert One', cursive;
    
}