html, body {
    background-color:  #31572C;
    position:absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    border:0;
    display:flex;
}
html, body ,
div > img ,
.flip-card-backi{
    width:100%;
    height:100%;
}

main {
  margin:auto;
  width: 50%;
  display: block;
  width: 100vmin;
  height: 100vmin;
  vertical-align: middle;
}
main > section > div {
    width: 100%;
    height: 12.5%;
}

section {
    float: left;
    width: 12.5%;
    height:100%;
}


main > section:nth-child(odd) > div:nth-child(even) ,
main > section:nth-child(even) > div:nth-child(odd) {
    background: radial-gradient(#FDFCFB,#E2D1C3);
}
main > section:nth-child(odd) > div:nth-child(odd) ,
main > section:nth-child(even) > div:nth-child(even) {
    background: radial-gradient(#434343, #000000);
}

.flip-card {
   perspective: 150px;
   overflow:hidden;
}

.flip-card-back{
    transition: transform 0.6s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-back {
    transform: rotateY(180deg);
    background-color:#A4161A;
}

main > section > div:nth-child(even) {
    color: #FFBE0B;
    font-size: 30px;
    font-family: 'Concert One', cursive;
}
